<footer class="site-footer uk-margin-large-top">
    <div class="map-wrapper uk-padding-remove" onclick="">
      <div class="imageMap" aria-haspopup="true"> <img id="mapimg" src="/assets/images/footer-base.png" data-menu-src="/assets/images/footer-base.png" alt="" />
        <div class="hotspots">
          <div>
            <a href="{{baseurl}}/random/" class="camel" data-menu-src="/assets/images/camel.png" rel="nofollow"></a>
          </div>
          <div>
            <a href="{{baseurl}}/random/" class="mountain" data-menu-src="/assets/images/mountain.png" rel="nofollow"></a>
          </div>
          <div>
            <a href="{{baseurl}}/random/" class="light" data-menu-src="/assets/images/light.png" rel="nofollow"></a>
          </div>
          <div>
            <a href="{{baseurl}}/random/" class="eye" data-menu-src="/assets/images/eye.png" rel="nofollow"></a>
          </div>
          <div>
            <a href="{{baseurl}}/random/" class="abstract" data-menu-src="/assets/images/abstract.png" rel="nofollow"></a>
          </div>
        </div>

        
        
      </div>
      <div class="uk-background-secondary uk-text-center">
        <span class="">Created by: <a class="kat uk-text-reset" href="http://www.freshconceptual.com/">Katharine Hargreaves</a> & <a class="kei uk-text-reset" href="http://www.keishaperry.com/">Keisha Perry</a></span>
      </div>
    
    </div>
  <script>
  $(".imageMap a").on("mouseenter", function() {
    $("#mapimg").attr("src", $(this).data("menu-src"));
  }).on("mouseleave", function() {
    $("#mapimg").attr("src", $("#mapimg").data("menu-src"));
  });
  
  </script>

</footer>