<header id="masthead" class="site-header uk-container uk-container-expand uk-height-medium" role="banner">
    <div class="uk-width-1-1 uk-inline uk-height-medium">
 <a href="{{ site.baseurl }}/" id="" class="uk-link-reset" title="Whole Beast Rag" rel="home"> 
  <h1 class="steel uk-width-1-1 uk-position-center uk-margin-top wbr-brand"> Whole Beast Rag</h1>
  <h3 hidden class="uk-h1 steel uk-width-1-1 uk-position-center uk-margin-top wbr-nav-about">About</h3>
  <h3 hidden class="uk-h1 steel uk-width-1-1 uk-position-center uk-margin-top wbr-nav-issues">Issues</h3>
  <h3 hidden class="uk-h1 steel uk-width-1-1 uk-position-center uk-margin-top wbr-nav-supplements">Supplements</h3>
  <h3 hidden class="uk-h1 steel uk-width-1-1 uk-position-center uk-margin-top wbr-nav-submit">Submit</h3>
  <h3 hidden class="uk-h1 steel uk-width-1-1 uk-position-center uk-margin-top wbr-nav-contact">Contact</h3>
  <h2 class="subtext uk-text-uppercase uk-width-1-1 uk-position-bottom uk-margin-medium-bottom">Fertilize Your Brain</h2>
      </a> 
    </div>
  </header>
  <nav class="uk-navbar-container " uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav ">
          <li class="uk-padding" uk-toggle="target: .wbr-nav-about,.wbr-brand ; mode: hover">
            <a class="navkey" name="About" href="/about/">
            <img alt="3d cube icon" src="/assets/images/nav-1.png" />
            </a>
          </li>
          <li class="uk-padding" uk-toggle="target: .wbr-nav-issues,.wbr-brand ; mode: hover">
            <a class="navkey" name="Issues" href="/issues/">
            <img alt="eye icon" src="/assets/images/nav-2.png" />
            </a>
          </li>
          <li class="uk-padding" uk-toggle="target: .wbr-nav-supplements,.wbr-brand ; mode: hover">
            <a class="navkey" name="Supplements" href="/supplements/">
            <img alt="shapes icon" src="/assets/images/nav-3.png" />
            </a>
          </li>
          <li class="uk-padding" uk-toggle="target: .wbr-nav-submit,.wbr-brand ; mode: hover">
            <a class="navkey" name="Submit" href="/submit/">
              <img alt="chicken leg icon" src="/assets/images/nav-4.png" />
            </a>
          </li>
          <li class="uk-padding" uk-toggle="target: .wbr-nav-contact,.wbr-brand ; mode: hover">
            <a class="navkey" name="Contact" href="/contact/">
              <img alt="heartbeat icon" src="/assets/images/nav-5.png" />            
            </a>
          </li>
        </ul>
    </div>
  </nav>
