<h1 class="uk-h5 uk-text-bold uk-text-large uk-text-uppercase">Issue 07: HOMME</h1>

<a class="uk-link-text uk-background-primary" href="#featured">
  <img class="img-responsive" src="/assets/images/homme/borshch/1.jpg" alt="Koch-Mayor-of-the-City-of-New-York-by-Dmitry-Borschch">
</a>

<h2 class="uk-h5 uk-text-bold uk-text-large">Table of Contents</h2>

<a title="The Rationality of Your Duty – or – What You Think Your Fathers Wanted" class="uk-link-text uk-background-primary" href="/articles/the-rationality-of-your-duty-%E2%80%93-or-%E2%80%93-what-you-think-your-fathers-wanted">
The Rationality of Your Duty – or – What You Think Your Fathers Wanted</a> by Eric Lloyd Blix<br>

<a title="Spearfish Canyon by Mark Brenden" class="uk-link-text uk-background-primary" href="/articles/spearfish-canyon">Spearfish Canyon</a> by Mark Brenden <br>

<a title="Always Singular, Never Alone by Eric Cummings" class="uk-link-text uk-background-primary" href="/articles/always-singular,-never-alone">Always Singular, Never Alone</a> by Eric L. Cummings <br>
<a title="3. by Jon Dambacher" class="uk-link-text uk-background-primary" href="/articles/3">3.</a> by Jon Dambacher <br>
<a title="Jerk by Joseph Farley" class="uk-link-text uk-background-primary" href="/articles/jerk">Jerk</a>·
<a title="Searching the Wreckage by Joseph Farley" class="uk-link-text uk-background-primary" href="/articles/searching-the-wreckage">Searching the Wreckage</a> by Joseph Farley <br>
<a title="Argentina Days After Paul Bowles by Moneta Goldsmith" class="uk-link-text uk-background-primary" href="/articles/argentina-days-after-paul-bowles">Argentina Days After Paul Bowles</a>·
<a title="Short Talk on Booksellers by Moneta Goldsmith" class="uk-link-text uk-background-primary" href="/articles/short-talk-on-booksellers">Short Talk on Booksellers</a> by Moneta Goldsmith <br>
<a title="Keen by Lauren Gordon" class="uk-link-text uk-background-primary" href="/articles/keen">Keen</a>·
<a title="Wooden Lady by Lauren Gordon" class="uk-link-text uk-background-primary" href="/articles/wooden-lady">Wooden Lady</a>·
<a title="Seeding 1. by Lauren Gordon" class="uk-link-text uk-background-primary" href="/articles/seeding-1">Seeding 1.</a>·
<a title="Seeding 2. By Lauren Gordon" class="uk-link-text uk-background-primary" href="/articles/seeding-2">Seeding 2.</a>·
<a title="The Bounding Main of Your Mind by Lauren Gordon" class="uk-link-text uk-background-primary" href="/articles/the-bounding-main-of-your-mind">The Bounding Main of Your Mind</a> by Lauren Gordon <br>
<a title="Dad Capsule by Peter Milne Greiner" class="uk-link-text uk-background-primary" href="/articles/dad-capsule">Dad Capsule</a> by Peter Milne Greiner <br>
<a title="The Occupation by Terence Kuch" class="uk-link-text uk-background-primary" href="/articles/the-occupation">The Occupation</a> by Terence Kuch <br>
<a title="Bottled by Diane Lefer" class="uk-link-text uk-background-primary" href="/articles/bottled">Bottled</a> by Diane Lefer <br>
<a title="From the Cretaceous by Rupprecht Mayer" class="uk-link-text uk-background-primary" href="/articles/from-the-cretaceous">From the Cretaceous</a> by Rupprecht Mayer <br>
<a title="Peeper’s Sorority by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/peeper’s-sorority">Peeper’s Sorority</a>·
<a title="Four Nocturnes by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/four-nocturnes">Four Nocturnes</a>·
<a title="Bang Scanner by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/bang-scanner">Bang Scanner</a>·
<a title="Exploded Awake by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/exploded-awake">Exploded Awake</a>·
<a title="Worldwide Enema by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/worldwide-enema">Worldwide Enema</a>·
<a title="Saying Djinn by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/saying-djinn">Saying Djinn</a>·
<a title="Molecular Welt by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/molecular-welt">Molecular Welt</a>·
<a title="Stump Flap by RC Miller &amp; Gary Shipley" class="uk-link-text uk-background-primary" href="/articles/stump-flap">Stump Flap </a> by RC Miller &amp; Gary Shipley <br>
<a title="A Glacial Age by MF Nagel" class="uk-link-text uk-background-primary" href="/articles/a-glacial-age">A Glacial Age</a> by MF Nagel <br>
<a title="Aphorisms by Scott F. Parker" class="uk-link-text uk-background-primary" href="/articles/aphorisms">Aphorisms</a> by Scott F. Parker <br>
<a title="King Kong by Ratty St. John" class="uk-link-text uk-background-primary" href="/articles/king-kong">King Kong</a>·
<a title="Jesus is a Faggot and I Invented Tupperware by Ratty St. John" class="uk-link-text uk-background-primary" href="/articles/jesus-is-a-faggot-and-i-invented-tupperware">Jesus is a Faggot and I Invented Tupperware</a> by Ratty St. John <br>
<a title="The Temporality of Rhetoric by Dennis Sweeney" class="uk-link-text uk-background-primary" href="/articles/the-temporality-of-rhetoric">The Temporality of Rhetoric</a> by Dennis James Sweeney <br>
<a title="The Doctor’s Urn by Terrell Jamal Terry" class="uk-link-text uk-background-primary" href="/articles/the-doctor’s-urn">The Doctor’s Urn</a>·
<a title="Love Makes a Monster by Terrell Jamal Terry" class="uk-link-text uk-background-primary" href="/articles/love-makes-a-monster">
    Love Makes a Monster</a> by Terrell Jamal Terry <br>
<a title="Universefucker by CJ Waterman" class="uk-link-text uk-background-primary" href="/articles/universefucker">Universefucker </a> by CJ Waterman <br>
<a title="A Temple Your Father Found by Zack Woodard" class="uk-link-text uk-background-primary" href="/articles/a-temple-your-father-found">A Temple Your Father Found </a> by Zack Woodard <br>
<a title="Man Can(not) Be by Sennah Yee" class="uk-link-text uk-background-primary" href="/articles/man-can(not)-be">Man Can(not) Be</a> by Sennah Yee <br>
<a title="The Summoning" class="uk-link-text uk-background-primary" href="/articles/the-summoning">The Summoning</a> by Robb Steinpreis <br>
<a title="If re-reading Katsuhiro Otomo’s Akira During a Storm" class="uk-link-text uk-background-primary" href="/articles/if-re-reading-katsuhiro-otomo’s-akira-during-a-storm">If re-reading Katsuhiro Otomo’s Akira During a Storm</a> by John Beck <br>
<h2>Homme Columns</h2>
<a title="You Should Watch Buck Angel Fuck" class="uk-link-text uk-background-primary" href="/articles/you-should-watch-buck-angel-fuck">You Should Watch Buck Angel Fuck</a> by Diego Baez <br>
<a title="Call Me Lee" class="uk-link-text uk-background-primary" href="/articles/call-me-lee">Call Me Lee</a> by Shane Roeschlein <br>
<a title="No place like Hom(m)e: Aussie Men and Mummy-Issues" class="uk-link-text uk-background-primary" href="/articles/no-place-like-hom(m)e-aussie-men-and-mummy-issues">No Place Like HOMME</a> by Naomi Riddle <br>
<a title="The Man Behind the Woman: Gender and the Pop-Star/Producer Duality" class="uk-link-text uk-background-primary" href="/articles/the-man-behind-the-woman-gender-and-the-pop-star-producer-duality">The Man Behind the Woman</a> by Peter Boyle <br>
<a title="The Truth" class="uk-link-text uk-background-primary" href="/articles/the-truth">The Truth</a> by Alex Vallejo <br>
<a title="Venus Inscribed: on Colonizing (Anti-)Spaces" class="uk-link-text uk-background-primary" href="/articles/venus-inscribed-on-colonizing-(anti-)spaces/">Venus Inscribed - on Colonizing (Anti-)Spaces</a> by Alex Cruse <br>

<a class="uk-link-text uk-background-primary" href="#featured"><img src="/assets/images/homme/borshch/2.jpg" alt="Doctor-Kissinger-by-Dmitry-Borschch" class="img-responsive"> </a>
